{
    margin: 0;
    padding: 0;
    
}

body
{
   background-color:grey;
   font-family:sans-serif;
    margin: 0px;
    padding: 0;
}

.top-nav-bar
{
   height: 57px;
   top:0;
   position: sticky;
   background: #fff;
   margin-bottom: 20px;
   border-bottom: 3px solid orange;
   z-index: 2;
}

/*<!--important showes the orange color-->*/
.form-control    
    {
        margin-top: 9px;
        margin-left: 30px;
        border:1px solid orange !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        box-shadow: none !important;
    }

/*for the small box for search*/
.input-group-text
    {
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    cursor: pointer;
    height:39.5px;
    }
    
.fa-search
{
    color:white;
}


.search-box
    {
        display: inline-flex;
        width:25%;
    }

.menu-bar
{
    width:75%;
    height:40%;
    float: right;
}

.menu-bar ul
{
    display: inline-flex;
    float: right;
}

.menu-bar ul li
{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
       height:40%;
 font-weight:bold;
}

.menu-bar ul li a
{
    font-size: 15px;
    color:#fff;
    text-decoration: none;
  display:inline-block;
}






